@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb/IRANSansWeb(FaNum).eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/IRANSansWeb/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSansWeb/IRANSansWeb(FaNum).ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */}
@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir-fonts/Vazir.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/vazir-fonts/Vazir.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/vazir-fonts/Vazir.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'YekanBakh';
    src:url('../fonts/YekanBakh/YekanBakhFaNum-Regular.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'YekanBakhExtraBlack';
    src:url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBlack.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'YekanBakhExtraBold';
    src:url('../fonts/YekanBakh/YekanBakhFaNum-ExtraBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}









